.container {
    width: 400px;
    height: 500px;
    background-color: gray;
    /*padding: 7px 3px;*/
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.container .button {
    margin: 0 0 0 5px;

}
.container .title {
    color: #181818;
    margin: 0 0 0 5px;
}

.column {
    width: 95%;
    height: 85%;
    border-radius: 2px;
    background-color: gray;
}

.header, .footer {
    margin: 0 0 0 5px;
    width: 100%;
}

.container .column {
    display: flex;
    flex-direction: column;
}

.column .card {
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 20%;
    margin: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.column .card input {
    border: none;
    width: 80%;
    height: 80%;
    outline: none;
    font-size: 20px;
}

.section {
    display: flex;
}

.hovered {
    border: 1px dashed black;
}

.hide {
    display: none !important;
}

.draggable {
    border: 1px dashed black;

}

